.textView {
  /*width: min(500px, 100%);*/
  display: flex;
  flex: 1 1 auto;
  min-height: 0;
  padding: 10px;
  overflow: auto;
  border-left: 1px solid var(--mantine-color-dark-light-color);
  flex-direction: column;
  gap: 10px;
  /*transition: width 0.25s ease;*/
}

.editor {
  border: 0 !important;
}

.editorRoot {
  display: flex;
  flex-direction: column;
  min-height: 0;
  overflow-y: hidden;
}

.content :global(.tiptap) {
  padding-bottom: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.editorTypography {
  display: flex;
  flex-direction: column;
  min-height: 0;
  overflow-y: auto;
}

.textEntity {
  outline-style: solid;
  outline-offset: -1px;
  border-radius: 3px;
  cursor: pointer;
}

/* Fix for mark coloring */
:where([data-mantine-color-scheme="dark"]) .textEntity {
  background-color: var(--mark-bg-dark) !important;
}

:where([data-mantine-color-scheme="light"]) .textEntity {
  background-color: var(--mark-bg-light) !important;
}
