.container {
  max-width: 320px;
  min-width: 320px;
  position: relative;
  background-color: var(--mantine-color-body);
  border-left: 1px solid var(--mantine-color-dark-light-color);
  padding: 10px;
  display: flex;
  flex: 1 1 auto;
  min-height: 0;
}
