.container {
  width: 400px;
  position: relative;
  background-color: var(--mantine-color-body);
  border-left: 1px solid var(--mantine-color-dark-light-color);
  padding: 10px;
  display: flex;
}

.fieldset {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 15px !important;
}

.entityEntry {
  display: flex;
  align-items: center;
}

.entityIcon {
  width: var(--mantine-font-size-lg);
}

.applyChangesButton {
  margin-top: 15px;
}

.linkedEntitiesContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px !important;
}

.linkEntry {
  background-color: var(--mantine-color-dark-6) !important;
  padding: 5px;
}
