.container {
  width: 300px;
  position: relative;
  background-color: var(--mantine-color-body);
  border-left: 1px solid var(--mantine-color-dark-light-color);
  padding: 5px 5px 5px 5px;
  display: flex;
}

.fieldset {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.entityEntry {
  display: flex;
  align-items: center;
}

.entityIcon {
  width: var(--mantine-font-size-lg);
}

.applyChangesButton {
  margin-top: 15px;
}
