.editorFieldset {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 15px !important;
}

.applyChangesButton {
  margin-top: 15px;
  flex-shrink: 0;
}

.mentionLinkEntry {
  background-color: var(--mantine-color-dark-6) !important;
  padding: 5px;
}

.mentionLinkText {
  max-width: 190px;
}
