.container {
  position: relative;
  background-color: var(--mantine-color-body);
  /*border-left: 1px solid var(--mantine-color-dark-light-color);*/
  display: flex;
  flex: 1 1 auto;
  min-height: 0;
  height: 100%;
}
