.actionsContainer {
  position: absolute;
  min-height: 0;
  top: 50px;
  right: 7px;
  padding: 4px;
  z-index: 10;
  background-color: var(--mantine-color-body);
  border-radius: var(--mantine-radius-default);
  border: 1px solid var(--mantine-color-dark-light-color);
  /*border-top: 1px solid var(--mantine-color-dark-light-color);*/
  /*border-bottom: 1px solid var(--mantine-color-dark-light-color);*/
  /*border-left: 1px solid var(--mantine-color-dark-light-color);*/
  /*border-top-left-radius: var(--mantine-radius-default);*/
  /*border-bottom-left-radius: var(--mantine-radius-default);*/
}
