.editorFieldset {
  flex: 1 1 auto;
  min-width: auto;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 0 12px !important;
}

.applyChangesButton {
  flex-shrink: 0;
  flex-grow: 1;
}

.mentionLinkEntry {
  background-color: var(--mantine-color-dark-6) !important;
  padding: 5px;
}

.mentionLinkText {
  max-width: 190px;
}
