.editorFieldset {
  flex: 1 1 auto;
  min-width: auto;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 15px !important;
}

.applyChangesButton {
  margin-top: 15px;
  flex-shrink: 0;
}

.mentionLinkEntry {
  background-color: var(--mantine-color-dark-6) !important;
  padding: 5px;
}

.mentionLinkText {
  max-width: 190px;
}

.actionsContainer {
  position: absolute;
  min-height: 0;
  top: 69px;
  left: -37px;
  padding: 4px;
  background-color: var(--mantine-color-body);
  border-top: 1px solid var(--mantine-color-dark-light-color);
  border-bottom: 1px solid var(--mantine-color-dark-light-color);
  border-left: 1px solid var(--mantine-color-dark-light-color);
  border-top-left-radius: var(--mantine-radius-default);
  border-bottom-left-radius: var(--mantine-radius-default);
}
