.app {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.main {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  min-height: 0;
  overflow: hidden;
  margin-top: 10px;
}

.maxHeight {
  /*height: 100%;*/
}

.upperGrid {
  height: 65%;
}

.lowerGrid {
  height: 35%;
}

.gridContainer {
  /*padding: 0 !important;*/
}

.main :global(.mantine-Grid-root):not(.upperGrid, .lowerGrid) {
  height: 100%;
  width: 100%;
}

.main :global(.mantine-Grid-inner) {
  height: 100%;
}

.main :global(.mantine-Grid-col) {
  height: 100%;
  border: var(--mantine-color-dark-light-color) 1px solid;
  display: flex;
  flex: 1 1 auto;
}
