.widgetContainer {
  display: flex;
  flex-direction: column;
  min-height: 0;
  flex: 1 1 auto;
  width: 100%;
}

.widgetTopbar {
  display: flex;
  align-items: center;
  height: 40px;
  max-height: 40px;
  justify-content: space-between;
  padding: 0 2px 4px 2px;
  border-bottom: 1px solid var(--mantine-color-dark-light-color);
  margin-bottom: 2px;
}
