.innerContainer,
.outerContainer {
  display: flex;
  position: relative;
  flex: 1;
  min-width: 0;
  min-height: 0;
}

.controls > button > svg {
  color: black !important;
}

.controls > button {
  border-radius: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.controls > button:focus,
.controls > button:focus-visible {
  outline: none;
}

.searchContainer {
  display: flex;
  width: 30%;
  min-width: 300px;
}

.searchBox {
  flex: 1 1 auto;
}

.graphContainer {
  position: relative;
  display: flex;
  flex: 1;
  min-width: 0;
  min-height: 0;
  height: 100%;
  width: 100%;
}

.graphTooltipContainer {
  position: absolute;
  bottom: 10px;
  left: 10px;
  opacity: 0.8;
  padding: 6px 10px;
  border-radius: 6px;
  background-color: black;
  z-index: 2000;
}

.mouseClickTooltip {
  position: relative;
  gap: 2px !important;
}

.doubleClockTooltip {
  font-size: 8px !important;
  position: absolute;
  left: 8px;
  top: 11px;
  pointer-events: none;
}
