.controls > button > svg {
  color: black !important;
}

.controls > button {
  border-radius: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.controls > button:focus,
.controls > button:focus-visible {
  outline: none;
}
