.controls > button > svg {
  color: black !important;
}

.controls > button {
  border-radius: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.controls > button:focus,
.controls > button:focus-visible {
  outline: none;
}

.searchContainer {
  display: flex;
  width: 30%;
  min-width: 300px;
}

.searchBox {
  flex: 1 1 auto;
}
