.container {
  width: 100%;
  height: 100%;
  display: flex;
}

.tableWrapper {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.controlLabel {
  padding: 12px 2px !important;
  writing-mode: sideways-lr;
}

.table {
  table-layout: fixed;
  border-top: 0 !important;
}

.idColumn {
  width: 80px;
  max-width: 120px;
}
