.container {
  width: 100%;
  height: 100%;
  display: flex;
}

.tableWrapper {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.controlLabel {
  padding: 12px 2px !important;
  writing-mode: sideways-lr;
}

.table {
  table-layout: fixed;
  border-top: 0 !important;
}

.idColumn {
  width: 80px;
  max-width: 120px;
}

.typeColumn {
  width: 80px;
  min-width: 80px;
  max-width: 80px;
}

.titleColumn {
  width: 200px;
  min-width: 200px;
  max-width: 0;
}

.nameColumn {
  max-width: 0;
  min-width: 120px;
}

.documentColumn {
  max-width: 0;
  min-width: 200px;
}

.contentColumn {
  max-width: 0;
  min-width: 200px;
}
