.container {
  background-color: var(--mantine-color-body);
  border-bottom: 1px solid var(--mantine-color-dark-light-color);
  flex-shrink: 0;
  padding: 7px 20px;
}

.switchLabel {
}

.iconSpin {
  animation: spin 1s linear infinite;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
