.container {
  height: 50px;
  background-color: var(--mantine-color-body);
  border-bottom: 1px solid var(--mantine-color-dark-light-color);
  flex-shrink: 0;
  padding: 0 20px;
}

.switchLabel {
}

.filterLabel {
  font-weight: 400;
  color: var(--mantine-color-text);
}

.filterButton:active {
  transform: none !important;
}
