.fieldset {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 15px !important;
}

.applyChangesButton {
  margin-top: 15px;
}

.linkedEntitiesContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px !important;
}

.linkEntry {
  background-color: var(--mantine-color-dark-6) !important;
  padding: 5px;
}

.linkText {
  max-width: 190px;
}
