.container {
  display: flex;
  flex: 1 1 auto;
  width: 100%;
  height: 100%;
  position: relative;
}

.inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
}

.menuPopover {
  /*transition-duration: 50ms !important;*/
}
