.container {
  /*display: flex;*/
  /*flex-direction: column;*/
  width: 300px;
  z-index: 100;
  padding: 10px 0;
}

.gradientContainer {
  position: relative;
  height: 20px;
  width: calc(100% - 20px);
  border-radius: 4px;
  user-select: none;
  background: repeating-conic-gradient(#808080 0 25%, #ffffffff 0 50%) 50% /
    20px 20px;
}

.histogram {
  width: calc(100% - 10px);
  max-width: calc(100% - 10px);
  /*height: 100px;*/
  /*max-height: 70vh;*/
  /*aspect-ratio: 1.618;*/
  /*padding: 0;*/
  outline: var(--mantine-color-gray-5) solid 1px;
  outline-offset: -5px;
  /*width: 270px;*/
  /*max-width: 270px;*/
  height: 180px;
  /*background-color: rgb(255, 255, 255, 0.05);*/
}

.slider {
  width: calc(100% - 20px);
}

.gradientBox {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /*border-radius: 4px;*/
  overflow: hidden;
}

.gradientStop {
  position: absolute;
  top: 120%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid white;
  cursor: pointer;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}

.colorInput {
  flex-grow: 1;
}
