.filterBadge {
  padding-right: 6px !important;
  padding-left: 6px !important;
  cursor: pointer !important;
}

.removeSequenceButton {
  --ai-size: 12px !important;
  --ai-hover: var(--mantine-color-gray-7) !important;
}

.toggleFilterTypeButton {
  --ai-size: 12px !important;
  --ai-bg: transparent !important;
  --ai-bd: 0 !important;
  --ai-hover: var(--mantine-color-gray-7) !important;
}
